n8n-workflows/cert-registration-approved.json
{
  "name": "Certificate Registration Approved (Grant Privileges)",
  "nodes": [
    {
      "id": "webhook-approved",
      "name": "Zammad Ticket Approved Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "cert-registration-approved",
        "httpMethod": "POST",
        "options": {}
      },
      "webhookId": "cert-registration-approved",
      "notes": "Configure Zammad to POST here when a cert-registration ticket is closed/approved. Payload must include ticket id and state."
    },
    {
      "id": "filter-approved",
      "name": "Only If Cert-Reg + Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.title }}", "rightValue": "Approve certificate registration:", "operator": { "type": "string", "operation": "startsWith" } },
            { "id": "c2", "leftValue": "={{ $json.state }}", "rightValue": "closed", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "notes": "Adjust state value to match your Zammad workflow (e.g. state name for approved)."
    },
    {
      "id": "get-articles",
      "name": "Get Ticket Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100],
      "parameters": {
        "url": "={{ ($env.ZAMMAD_URL || 'http://zammad') + '/api/v1/tickets/' + $json.id + '/articles' }}",
        "method": "GET"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "zammad_api", "name": "Zammad API" }
      },
      "notes": "Fetch first article body; parse JSON payload from body (stored by cert-registration-request workflow)."
    },
    {
      "id": "parse-payload",
      "name": "Parse Registration Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100],
      "parameters": {
        "jsCode": "const articles = $input.first().json;\nconst body = Array.isArray(articles) ? (articles[0] && articles[0].body) : (articles.body || '');\nconst match = body && body.match(/Payload \\(for approval workflow\\):\\s*({.+})/s);\nconst payload = match ? JSON.parse(match[1]) : null;\nif (!payload || !payload.uid) throw new Error('No registration payload in ticket body');\nconst ticketId = $('Only If Cert-Reg + Approved').first().json.id;\nreturn [{ json: { ...payload, ticket_id: ticketId } }];"
      },
      "notes": "Extract JSON from ticket article body (as stored by cert-registration-request)."
    },
    {
      "id": "grant-keycloak",
      "name": "Create Keycloak User and Assign Role",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100],
      "parameters": {
        "url": "={{ $env.KEYCLOAK_URL || 'http://127.0.0.1:8180' }}/admin/realms/master/users",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: $json.uid, email: $json.email, firstName: ($json.cn || $json.uid).split(' ')[0], lastName: ($json.cn || '').split(' ').slice(1).join(' ') || '', enabled: true }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "keycloak_admin", "name": "Keycloak Admin" }
      },
      "notes": "Get Keycloak admin token first (POST .../realms/master/protocol/openid-connect/token), then create user, reset-password, role-mappings. This node is a placeholder; use a subflow or multiple nodes for full grant logic."
    },
    {
      "id": "reply-ticket",
      "name": "Reply to Zammad Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "parameters": {
        "url": "={{ ($env.ZAMMAD_URL || 'http://zammad') + '/api/v1/tickets/' + $json.ticket_id + '/articles' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: 'Privileges granted for uid=' + $json.uid + ', role=' + ($json.requested_privilege_level || 'viewer') + '. User created in Keycloak; assign role via Admin UI or run sync-identities-to-keycloak.ps1.', internal: true }) }}"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "zammad_api", "name": "Zammad API" }
      }
    }
  ],
  "connections": {
    "Zammad Ticket Approved Webhook": {
      "main": [[{ "node": "Only If Cert-Reg + Approved", "type": "main", "index": 0 }]]
    },
    "Only If Cert-Reg + Approved": {
      "main": [
        [{ "node": "Get Ticket Articles", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Ticket Articles": {
      "main": [[{ "node": "Parse Registration Payload", "type": "main", "index": 0 }]]
    },
    "Parse Registration Payload": {
      "main": [[{ "node": "Create Keycloak User and Assign Role", "type": "main", "index": 0 }]]
    },
    "Create Keycloak User and Assign Role": {
      "main": [[{ "node": "Reply to Zammad Ticket", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v2"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
