n8n-workflows/dependency-track-to-zulip.json
{
  "name": "Dependency-Track → Zulip (ChatOps)",
  "nodes": [
    {
      "id": "webhook-dependency-track",
      "name": "Dependency-Track Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "dependency-track-alert",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "dependency-track-zulip"
    },
    {
      "id": "parse-dependency-track",
      "name": "Parse Dependency-Track Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nconst notification = body.notification || {};\nconst subject = notification.subject || {};\nconst vuln = subject.vulnerability || {};\nconst component = subject.component || {};\nconst affectedProjects = subject.affectedProjects || [];\nconst vulnId = (vuln.vulnId || 'VULN-UNKNOWN').toString().trim();\nconst group = (notification.group || '').toString();\nconst title = (notification.title || 'Dependency-Track Alert').toString();\nconst content = (notification.content || '').toString();\nconst severity = (vuln.severity || 'UNKNOWN').toString();\nconst compName = [component.group, component.name].filter(Boolean).join('/') || component.name || 'unknown';\nconst compVersion = (component.version || '').toString();\nconst projectNames = affectedProjects.map(function(p) { return (p.name || '') + (p.version ? ' @ ' + p.version : ''); }).filter(Boolean);\nconst stream = (typeof process !== 'undefined' && process.env && process.env.ZULIP_DEPENDENCY_TRACK_STREAM) ? process.env.ZULIP_DEPENDENCY_TRACK_STREAM : 'security';\nconst topic = vulnId;\nlet md = '**' + title + '**\\n';\nmd += '**Vulnerability:** ' + vulnId + ' | **Severity:** ' + severity + '\\n';\nmd += '**Component:** ' + compName + (compVersion ? ' `' + compVersion + '`' : '') + '\\n';\nif (projectNames.length) { md += '**Affected projects:** ' + projectNames.join(', ') + '\\n'; }\nmd += '\\n' + content;\nreturn [{ json: { zulip_stream: stream, zulip_topic: topic, zulip_content: md, vuln_id: vulnId, result: 'parsed' } }];"
      }
    },
    {
      "id": "send-to-zulip",
      "name": "Send to Zulip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 0],
      "parameters": {
        "url": "={{ $env.ZULIP_URL || 'http://zulip' }}/api/v1/messages",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "formUrlEncoded",
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "stream" },
            { "name": "to", "value": "={{ $json.zulip_stream }}" },
            { "name": "topic", "value": "={{ $json.zulip_topic }}" },
            { "name": "content", "value": "={{ $json.zulip_content }}" }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": { "id": "zulip_api", "name": "Zulip API" }
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: 'success', message_id: $json.id, topic: $('Parse Dependency-Track Payload').first().json.zulip_topic, stream: $('Parse Dependency-Track Payload').first().json.zulip_stream }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Dependency-Track Webhook": {
      "main": [[{ "node": "Parse Dependency-Track Payload", "type": "main", "index": 0 }]]
    },
    "Parse Dependency-Track Payload": {
      "main": [[{ "node": "Send to Zulip", "type": "main", "index": 0 }]]
    },
    "Send to Zulip": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v2"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
