n8n-workflows/devsecops-orchestrator.json
{
  "name": "DevSecOps Orchestrator",
  "nodes": [
    {
      "id": "6225cace-c841-4298-b83b-031e401085b8",
      "name": "Zammad Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "zammad-ticket",
        "httpMethod": "POST",
        "options": {}
      },
      "webhookId": "devsecops-zammad"
    },
    {
      "id": "a86458d7-2d2a-4455-9b60-f0cc88e572e9",
      "name": "Parse ITIL Ticket Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [240, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "You are an autonomous DevSecOps architect. Parse the incoming Zammad ITIL ticket payload and extract the architectural intent from any whitepaper documents. Identify macro-level objectives, microservice boundaries, compliance requirements, and ITIL Change Request details. Return a structured JSON with: intent, requirements, compliance_needs, task_breakdown, itil_ticket_id, and change_request_approval_status."
        }
      }
    },
    {
      "id": "76b03c17-1696-4249-bf5b-b165607f93fa",
      "name": "Request JIT Access",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "parameters": {
        "url": "={{ $env.TELEPORT_JIT_REQUEST_URL || 'https://teleport/api/v1/jit/request' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: $json.itil_ticket_id, role: 'cline-coder' }) }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "teleport_api", "name": "Teleport API" }
      }
    },
    {
      "id": "c9fd2a1a-0746-4790-b67d-95b3ae0fea90",
      "name": "Publish to Solace Agent Mesh",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [720, 0],
      "parameters": {
        "topic": "a2a/v1/agent/request/mesh_orchestrator",
        "brokerUrl": "={{ $env.SOLACE_BROKER_URL || 'mqtt://solace-pubsub:8883' }}",
        "options": {
          "username": "={{ $env.SOLACE_USERNAME }}",
          "password": "={{ $env.SOLACE_PASSWORD }}",
          "protocol": "mqtts"
        }
      },
      "credentials": {
        "mqtt": { "id": "solace_mqtt", "name": "Solace MQTT" }
      }
    },
    {
      "id": "e48221d0-43bf-485a-b1b3-8cea89621d5f",
      "name": "Update ITIL Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 0],
      "parameters": {
        "url": "={{ $env.ZAMMAD_URL || 'http://zammad' }}/api/v1/tickets/{{ $json.itil_ticket_id }}/articles",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: 'A2A task published to mesh_orchestrator', internal: true }) }}"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "zammad_api", "name": "Zammad API" }
      }
    }
  ],
  "connections": {
    "Zammad Webhook Trigger": {
      "main": [[{ "node": "Parse ITIL Ticket Intent", "type": "main", "index": 0 }]]
    },
    "Parse ITIL Ticket Intent": {
      "main": [[{ "node": "Request JIT Access", "type": "main", "index": 0 }]]
    },
    "Request JIT Access": {
      "main": [[{ "node": "Publish to Solace Agent Mesh", "type": "main", "index": 0 }]]
    },
    "Publish to Solace Agent Mesh": {
      "main": [[{ "node": "Update ITIL Ticket", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v2",
    "errorWorkflow": "devsecops-error-handler"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
