n8n-workflows/gitea-docs-sync-to-gateway.json
{
  "name": "Gitea docs sync → gateway (optional relay)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitea-docs-sync-relay",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-gitea-docs",
      "name": "Gitea Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "gitea-docs-sync-relay"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_DOC_SYNC_URL || 'http://host.docker.internal/webhook/docs-sync' }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Gitea-Signature",
              "value": "={{ $json.headers && ($json.headers['x-gitea-signature'] || $json.headers['X-Gitea-Signature'] || '') }}"
            }
          ]
        },
        "options": {
          "redirect": { "followRedirects": true }
        }
      },
      "id": "http-forward-gateway",
      "name": "Forward to gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, gatewayStatus: $json.statusCode, gatewayBody: $json.body }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [520, 0]
    }
  ],
  "connections": {
    "Gitea Webhook": {
      "main": [[{ "node": "Forward to gateway", "type": "main", "index": 0 }]]
    },
    "Forward to gateway": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v2"
  },
  "meta": {
    "description": "Relay Gitea push webhooks to the Single Pane of Glass /webhook/docs-sync. Requires raw body preservation, GATEWAY_DOC_SYNC_URL, and matching GITEA_DOCS_WEBHOOK_SECRET on the gateway. Prefer pointing Gitea directly at the gateway when possible (see docs/DOCSIFY_GITEA.md)."
  }
}
